/* @tailwind base; */
@tailwind components;
@tailwind utilities;



.readind_title {
  border-bottom: 2px solid #e1e1e1;
}

.zoom:hover {
  transform: scale(1.1);
  transition: 1s;
  display: 300ms;
}

.card:hover {
  transition: all .5s ease-in-out;
}

.alice-carousel__dots {
  margin: 0;
}

.alice-carousel__stage-item {
  margin-inline: 5px;
  /* deleted */
}


.alice-carousel {
  overflow: auto;

}

.off {
  animation: pulse 2s infinite;
}

#element::-webkit-scrollbar {
  display: none;
}

.about {
  direction: rtl;
}

.offimg {
  width: 100px;
}

@keyframes pulse {

  0%,
  100% {
    background-color: #f56a3f;
    width: 40px;
    height: 30px;
  }

  50% {
    background-color: #9e42b0;
    width: 31px;
    height: 22px;
  }
}

.bg {
  background-image: url('../asset/image.034f4a71.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg2 {
  background-image: url('../asset/image2.7c4242f3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bbg {
  background-image: url('../asset/phone-offer-image.68e38776.webp');
  background-size: cover;
  height: fit-content;
  padding-bottom: 35%;
  width: 100%;
  background-position: center;
  position: sticky;
}

.bbbg {
  background-image: url('../asset/offer-image-web.49bad458.webp');
  background-size: cover;

}

.bbbg2 {
  background-image: url('../asset/new-product-image.0a5895a1.webp');
  background-size: cover;

}

.card {
  width: -webkit-fill-available;

}


@media screen and (max-width: 500px) {
  .pic {
    width: 7.75rem !important;
  }

}

@media screen and (max-width:768px) and (min-width:500px) {
  .pic {
    width: 11rem !important;
  }

}

@media screen and (max-width:1024px) and (min-width:768px) {
  .pic {
    width: 12rem !important;
  }

}


@media screen and (min-width:1024px) {
  .pic {
    width: 12rem !important;
  }

  .second-section {
    padding-right: 150px;
    padding-left: 150px;
  }
}

@media screen and (min-width:1160px) {
  .pic {
    width: 15rem !important;
  }

  .second-section {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (min-width:1260px) {
  .pic {
    width: 15rem !important;
  }

  .second-section {
    padding-right: 200px;
    padding-left: 200px;
  }
}