
.bottom{
  border-top: 1px solid ;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  font-size: .8rem;
  
}
.row{
  /* display: flex;
  justify-content: space-around; */
  padding-top: 5px;
  color: rgb(128, 128, 128);
}
#link{
  text-decoration: none;

}