/* @tailwind base; */
@tailwind components;
@tailwind utilities;


.nav-top {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--white);
  z-index: 1000;
  border-bottom: #c3c3c3 solid;
}

.border-black0 {
  border-bottom: 2px !important;
  border-color: black !important;
}

input {
  border: rgba(159, 159, 159, 0.463) 1.5px solid;
}