/* @tailwind base; */
@tailwind components;
@tailwind utilities;


.nav-top {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--white);
  z-index: 1000;
  margin-top: 0;
  padding-top: 0;
}

#darkmode {
  margin-left: 15px;
}

.sticky {
  border-bottom: #c3c3c3af 1px solid;
}

no-underline {
  color: black !important;
}

.nav_itemsh {
  color: black;
}

.nav_itemsh:hover {
  color: #ff7171;
}

input {
  border: rgba(159, 159, 159, 0.463) 1.5px solid;
}